// $mainColor: #15023a;
$mainColor: #3a0202;

$width: 769px;
$width_xsmall: 321px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin xs_mobile {
  @media (max-width: #{$width_xsmall}) {
    @content;
  }
}
